
*{box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: o;  
}

.first_container{background-color: rgb(249, 130, 19);
                display: flex;
                height: 50px;             
}
.first_container A{padding-right: 100px;
}

.question_mark{padding: 400px 400px;
}
.x_mark{padding: 10px 10px;
}

.container{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-evenly;
        
}
        
.as_o{
      width: 200px;
      height:200px;
      border-style: solid;
      border-width: 1px;
      padding-top: 95px;
     
     
}

.as_1{width: 200px;
      height: 200px;
      border-style: solid;
      border-width: 1px;
      padding-top: 95px;
      border: radius 5px; 
}

.as_2{width: 200px;
     height: 200px;
     border-style: solid;
     border-width: 1px;
     padding-top: 95px;
}

.as_3{width: 200px;
     height: 200px;
    border-style: solid;
    border-width: 1px;
    padding-top: 95px;
}

.as_4{width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    padding-top: 95px;
}

.as_5{width: 200px;
      height: 200px;
      border-style: solid;
      border-width: 1px;
      padding-top: 95px;
}

  .as_6{width: 200px;
        height: 200px;
        border-style: solid;
        border-width: 1px;
        padding-top: 95px;
  }

  .as_7{width: 200px;
      height: 200px;
      border-style: solid;
     border-width: 1px;
     padding-top: 95px;
     /* margin: 10px; */
  }
.container div{margin: auto;
  /* border: radius 5px;  */

}
  

  
                  

  
  
  










