
*{box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: o;
}

.first_container{background-color: rgb(249, 130, 19);
                display: flex;
                height: 50px;
}
.first_container A{padding-right: 100px;
}

.question_mark{padding: 400px 400px;
}
.x_mark{padding: 10px 10px;
}

.container1{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-evenly;
          padding-top: 30px;
          margin: 30px;


}
.container2{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 30px;
      margin: 30px;
}

.as{
      display: flex;
      width: 150px;
      height:200px;
      border: 2px solid #797676;
      border-radius: 10px;
      overflow: hidden;
}

.as_top{
      flex: 1;
}

.as_bottom{
      background: white;
      text-align: center;
      padding: 30px;
      margin-top: 90px;
}

.as_bottom .title{
      font-size: 14px;
      font-weight: bold;
}

.as_bottom .percentage{
      font-size: 12px;
      color: teal;
      margin-top: 4px;
}

.purple{
      background-color: purple;
}
.cyan{
      background-color: cyan;
}
.green{
      background-color: limegreen;
}
.orange{
      background-color: orange;
}
.brown{
      background-color: brown;
}



















/* .as_1{width: 200px;
      height: 200px;
      border-width: 1px;
      padding-top: 100px;
      padding-left: 15px;
      border: 2px solid;
}

.as_2{width: 200px;
     height: 200px;
     border-width: 1px;
     padding-top: 100px;
     padding-left: 15px;
     border: 2px solid;
}

.as_3{width: 200px;
     height: 200px;
     border-width: 1px;
    padding-top: 100px;
    padding-left: 15px;
    border: 2px solid;
} */

/* .as_4{width: 200px;
    height: 200px;
    border-width: 1px;
    padding-top: 100px;
    padding-left: 15px;
    border: 2px solid;
}

.as_5{width: 200px;
      height: 200px;
      border-width: 1px;
      padding-top: 100px;
      padding-left: 15px;
      border: 2px solid;
}

  .as_6{width: 200px;
        height: 200px;
        border-width: 1px;
        padding-top: 100px;
        padding-left: 15px;
        border: 2px solid;
  }

  .as_7{width: 200px;
      height: 200px;
     border-width: 1px;
     padding-top: 100px;
     padding-left: 15px;
     border: 2px solid;
     /* margin: 10px; */
  } */


  

  
                  

  
  
  










